rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function allowedEmail() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'catering@feltonfleet.co.uk',
          'paul.sumner@feltonfleet.co.uk'
        ];
    }

    match /items/{id} {
      allow read, write: if allowedEmail();
    }

    match /weeks/{id} {
      allow read, write: if allowedEmail();
    }

    // Default deny everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
